// # This is a comment 
// # dynamic component class 
// # allow same name to appear in many places, default only first one, only appear on first 
// # unique variable name could be used multiple times 

// # implement .trash 
// # start documentation 
// # add package.json, download Dependencies 
// # cd into directories, create and change into directory 
// # make one projects folder, create projects in that folder 
// # //a/b/c/b.txt/

// app/page.tsx
   export default function [COMPONENT_NAME=Component]() {
      return (
        <[ELEMENT=div] className="[CLASS_NAME=container]">
          Hello world
        </[ELEMENT=div]>
      );
    }

// app/components/Button.tsx
   export default function [COMPONENT_NAME=Component]() {
      return (
        <[ELEMENT=div] className="[CLASS_NAME=container]">
          Hello world
        </[ELEMENT=div]>
      );
    }


// styles/globals.scss


// README.md

// .gitignore
**/node_modules/